.contain {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 0.12fr 1fr;
  height: 100vh;
  gap: 0.1rem;
}

.fixed-navbar {
  background-color: #fff;
  grid-column: 1 / span 2;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply the animation to the navbar ul element */
.navbar-nav {
  animation-name: fadeIn;
  /* Specify the animation name */
  animation-duration: 1s;
  /* Set the animation duration */
  animation-timing-function: ease-in-out;
  /* Set the animation timing function */
}

.navbar-brand {
  font-size: 30px;
  float: left;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}

/*navigation fields hover animation*/
nav li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #ffffff;
  border-radius: 12px;
  transform-origin: right;
  transition: all 0.4s ease;
}
nav li a:hover:before {
  width: 100%;
}

nav li.center a:before {
  left: 50%;
  transform: translateX(-50%);
}
nav li.upward a:before {
  width: 100%;
  bottom: -5px;
  opacity: 0;
}
nav li.upward a:hover:before {
  bottom: 0px;
  opacity: 1;
}
nav li.forward a:before {
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.1s ease;
}
nav li.forward a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}
.nav-link {
  color: #fff !important;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0 10px;
}
.nav-link:hover {
  color: #ffc107 !important;
  transform: translateY(-3px);
}

.fixed-sidebar {
  background-color: #c1c0c0;
  grid-column: 1;
  overflow-y: auto;
  overflow-x: hidden;
    margin-top: -1rem;
}

.topics {
  margin: 5rem 0.5rem;
  padding: 8px 0.5rem;
  background-color: #1c1c1c;
  color: white;
  font-weight: 700;
  position: fixed;
  display: none;
  right: 0;
  z-index: 999;
}

.single {
  display: flex;
  flex-direction: column;
  padding: 2px 1px 1px 8px;
  cursor: pointer;
  background: transparent;
  color: #000000;
  border: none;
  font-size: 15px;
  font-family: "Segoe UI", Arial, sans-serif;
}

.main-content {
  overflow-y: auto;
  grid-column: 2;
  overflow-x: hidden;
}

.content {
  max-width: 80vw;
  margin: 25px 0px 0px 18px;
}

color {
  color: rgb(220, 20, 60);
}

h2 {
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  line-height: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

aside h2 {
  font-size: 22px;
  font-weight: 500;
  color: #000000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 25px 0px 4px;
  padding: 0px 0px 0px 12px;
}

.notes li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 2em;
  line-height: 1.5em;
}

.notes ol {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.notes img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px solid black;
}

video {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px solid black;
}

/* Style the active class, and buttons on mouse-over */
.active,
.single:hover {
  background-color: rgb(5, 152, 98);
  color: white;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #a6a5a5;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.content > button {
  padding: 8px 19px;
  color: rgb(255, 255, 255);
  background: rgb(5, 152, 98);
  font-weight: 400;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  box-shadow: 3px 3px 12px 3px rgba(0, 0, 0, 0.2);
}

.content button[disabled] {
  opacity: 0.5;
}

.notes {
  margin: 6em 0px 2px 3px;
}

#previous {
  float: left;
  margin-top: -4em;
}

#next {
  float: right;
  margin-top: -4em;
}

#previous1 {
  float: left;
  margin-top: 1em;
  position: relative;
  bottom: 8px;
}

#next1 {
  float: right;
  margin-top: 1em;
  position: relative;
  bottom: 8px;
}

.highlight {
  max-width: 50em;
  border-radius: 10px;
  border: 2px solid #7e22ce;
}

pre {
  background-color: #ffffff !important;
  max-width: 90%;
  overflow-x: auto;
}

/* Change the color of keywords */
.token.keyword {
  color: rgb(13, 13, 146);
}
/* Change the color of the number */
.token.number {
  color: #00494c; /* Change to your desired color */
}
.token.variable {
  color: #ff00ff; /* Change to your desired color */
}

/* Change the color of comments */
.token.comment {
  color: rgb(61, 222, 61);
}

/* Change the color of strings */
.token.string {
  color: rgb(192, 39, 39);
}

code[class*="language-"],
pre[class*="language-"] {
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
.chatbot-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
}

.chatbot-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.chatbot-icon a {
  text-decoration: none;
}
.chatbot-icon i {
  display: flex;
  align-self: center;
  justify-content: center;
  color: #292929;
  font-size: 28px;
  width: 40px;
  height: 30px;
}

@media only screen and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 70px 30px 1fr;
    height: 95%;
  }

  .fixed-navbar {
    background-color: #fff;
    grid-column: 1 / span 2;
  }

  .navbar-brand {
    font-size: 25px;
  }

  .topics {
    display: block;
    border-radius: 10px;
    max-width: 150px;
    box-shadow: 3px 3px 12px 3px rgba(0, 0, 0, 0.2);
    border: none;
    transition: background-color 0.3s ease; /* Add transition for smooth effect */
  }
  /* Hover effect */
  .topics:hover {
    background-color: #070808; /* Set desired background color on hover */
  }

  /* Active effect */
  .topics:active {
    background-color: #615f5f; /* Set desired background color when button is clicked */
  }

  .main-content {
    overflow-y: auto;
    grid-column: 2;
    max-height: 85vh;
  }

  main {
    position: absolute;
    top: 12%;
    left: 3%;
  }

  .fixed-sidebar {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.2s;
  }

  .fixed-sidebar {
    opacity: 100%;
    pointer-events: auto;
    visibility: visible;
    background-color: #888;
    overflow-y: visible;
    z-index: 10;
    height: 92vh;
    margin-top: 3.6rem;
  }

  header > button {
    display: block;
    border: 1.5px solid #22ce33;
    background-color: transparent;
    float: right;
    margin-top: 1em;
    border-radius: 5px;
  }

  header > button > img {
    width: 1.5rem;
    color: #fff;
  }

  .content {
    margin-left: -0em;
    max-width: 95vw;
  }
}
