@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 0.16fr 0.07fr 1fr;
  height: 100vh;
  gap: 0.1rem;
}

.fixed-navbar {
  background-color: #fff;
  grid-column: 1 / span 2;
  border-bottom: 2px solid #7e22ce;
}
.fixed-navbar p {
  font-size: 30px;
  position: absolute;
  top: 4%;
  left: 1%;
  color: #9333ea;
  float: left;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}
nav {
  color: #fff;
  grid-column: 1 / span 2;
  background: white;
  -webkit-box-shadow: 0 3px 12px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 12px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 12px 3px rgba(0, 0, 0, 0.2);
}
nav ul {
  display: flex;
}
nav li {
  /* border: 1px solid red; */
  padding: 10px;
  font-weight: 500;
}
nav a {
  color: rgb(124, 34, 206);
  font-size: 15px;
  text-decoration: none solid rgb(126, 34, 206);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 10px;
  position: relative;
  transition: all 0.3s;
}
/*navigation fields hover animation*/
nav li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #7e22ce;
  border-radius: 12px;
  transform-origin: right;
  transition: all 0.4s ease;
}
nav li a:hover:before {
  width: 100%;
}

nav li.center a:before {
  left: 50%;
  transform: translateX(-50%);
}
nav li.upward a:before {
  width: 100%;
  bottom: -5px;
  opacity: 0;
}
nav li.upward a:hover:before {
  bottom: 0px;
  opacity: 1;
}
nav li.forward a:before {
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
}
nav li.forward a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}
nav i {
  font-size: 20px;
  width: 15px;
}
.topics {
  display: none;
}

nav button {
  display: none;
}
aside {
  display: block;
}
.fixed-sidebar {
  background-color: #c1c0c0;
  grid-column: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
.menu i {
  display: none;
}
.single {
  display: flex;
  padding: 2px 1px 1px 8px;
  cursor: pointer;
  background: transparent;
  color: #000000;
  border: none;
  font-size: 15px;
  font-family: "Segoe UI", Arial, sans-serif;
  white-space: pre-wrap;
}

.main-content {
  overflow-y: auto;
  grid-column: 2;
}
.content {
  max-width: 80vw;
  margin: 25px 0px 0px 18px;
}
color {
  color: rgb(220, 20, 60);
}
h2 {
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3 {
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h4 {
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
  line-height: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}
aside h2 {
  font-size: 22px;
  font-weight: 500;
  color: #000000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  margin: 2px 0px 4px;
  padding: 0px 0px 0px 12px;
}
.notes li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 2em;
  line-height: 1.5em;
}
.notes ol {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.notes img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px solid black;
}
video {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px solid black;
}
/* Style the active class, and buttons on mouse-over */
.active,
.single:hover {
  background-color: rgb(5, 152, 98);
  color: white;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #a6a5a5;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.content > button {
  padding: 8px 19px;
  color: rgb(255, 255, 255);
  background: rgb(5, 152, 98);
  font-weight: 400;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  box-shadow: 3px 3px 12px 3px rgba(0, 0, 0, 0.2);
}
.content button[disabled] {
  opacity: 0.5;
}
.notes {
  margin: 6em 0px 2px 3px;
}
#previous {
  float: left;
  margin-top: -4em;
}

#next {
  float: right;
  margin-top: -4em;
}
#previous1 {
  float: left;
  margin-top: 1em;
  position: relative;
  bottom: 8px;
}

#next1 {
  float: right;
  margin-top: 1em;
  position: relative;
  bottom: 8px;
}

.highlight {
  max-width: 50em;
  border-radius: 10px;
  border: 2px solid #7e22ce;
}
pre {
  background-color: #ffffff !important;
  max-width: 90%;
  overflow-x: auto;
}
/* Change the color of keywords */
.token.keyword {
  color: blue;
}

/* Change the color of comments */
.token.comment {
  color: green;
}

/* Change the color of strings */
.token.string {
  color: red;
}

code[class*="language-"],
pre[class*="language-"] {
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
header > button {
  display: none;
}
.modal,
.modal-content {
  display: none;
}

/**===== bars1 =====*/
#bars1 {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  margin: -25px 0 0 -25px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  display: none;
}

#bars1 span {
  position: absolute;
  display: block;
  bottom: 10px;
  width: 9px;
  height: 5px;
  background: rgba(0, 0, 0, 0.25);
  -webkit-animation: bars1 1.5s infinite ease-in-out;
  animation: bars1 1.5s infinite ease-in-out;
}

#bars1 span:nth-child(2) {
  left: 11px;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

#bars1 span:nth-child(3) {
  left: 22px;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

#bars1 span:nth-child(4) {
  left: 33px;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

#bars1 span:nth-child(5) {
  left: 44px;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

@keyframes bars1 {
  0% {
    height: 5px;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    background: rgba(0, 0, 0, 0.25);
  }
  25% {
    height: 30px;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    background: #000000;
  }
  50% {
    height: 5px;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    height: 5px;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    background: rgba(0, 0, 0, 0.25);
  }
}
@-webkit-keyframes bars1 {
  0% {
    height: 5px;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    background: rgba(0, 0, 0, 0.25);
  }
  25% {
    height: 30px;
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
    background: #000000;
  }
  50% {
    height: 5px;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    height: 5px;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    background: rgba(0, 0, 0, 0.25);
  }
}

#text {
  font-size: 24px;
  font-family: sans-serif;
  margin: 200px 50px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.1em solid orange;
}

@media only screen and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 70px 30px 1fr;
  }
  .fixed-navbar {
    background-color: #fff;
    grid-column: 1 / span 2;
  }
  .topnav {
    background-color: #ffffff;
    grid-column: 1 / span 2;
    z-index: 10;
  }
  .fixed-navbar p {
    font-size: 25px;
  }
  nav li {
    display: none;
  }
  nav button {
    display: block;
    background: transparent;
    border: transparent;
    font-size: 26px;
  }

  .topics i {
    display: block;
  }
  .menu i {
    color: rgb(124, 34, 206);
    display: block;
    margin: 5px 5px;
    font-size: 25px;
  }
  .main-content {
    overflow-y: auto;
    grid-column: 2;
    max-height: 83vh;
  }
  main {
    position: absolute;
    top: 19%;
    left: 3%;
  }
  .fixed-sidebar {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.2s;
  }
  .fixed-sidebar {
    opacity: 100%;
    pointer-events: auto;
    visibility: visible;
    background-color: #888;
    overflow-y: visible;
    z-index: 10;
    height: 83vh;
    margin-top: -3px;
  }
  header > button {
    display: block;
    border: 1.5px solid #22ce33;
    background-color: transparent;
    float: right;
    margin-top: 1em;
    border-radius: 5px;
  }
  header > button > img {
    width: 1.5rem;
    color: #fff;
  }
  .content {
    margin-left: -0em;
    max-width: 95vw;
  }

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 11; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    -webkit-box-shadow: 12px 3px 12px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 12px 3px 12px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 12px 3px 12px 3px rgba(0, 0, 0, 0.2);
  }

  /* Modal Content */
  .modal-content {
    display: block;
    background-color: rgb(124, 34, 206);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 80%;
    border-radius: 8px;
  }
  .modal-content a {
    display: flex;
    align-items: center;
    width: 1em;
    color: #fff;
    text-decoration: none solid rgb(126, 34, 206);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    margin: 10px;
    font-weight: 500;
  }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}
